@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Montserrat:wght@400;700&family=Poppins:wght@100;200;300;400;500;600&family=Whisper&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --main-color: rgb(66, 66, 255);
    --black: #222;
    --white: #fff;
    --light-black: #777;
    --light-white: #fff9;
    --dark-bg: rgba(0, 0, 0, .7);
    --light-bg: #eee;
    --border: .1rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    --text-shadow: 0 .5rem 1rem rgba(0, 0, 0, .3);
    --light-bg-hover: #f4f4f4; /* Adjust as needed for hover effect */
    --dark-text: #333; /* Adjust as needed for better contrast */
}

html::-webkit-scrollbar {
    width: 1rem;
}
html::-webkit-scrollbar-track{
    background-color:var(--white);
}
html::-webkit-scrollbar-thumb{
    background-color:var(--light-black);
}

section{
    padding: 5rem 10%;
}

@keyframes fadeIn {
    0% { transform: scale(0);
        opacity: 0;
    }
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1001;
    background-color: var(--white);
    display: flex;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    box-shadow: var(--box-shadow);
    padding-left: 10px;
    align-items: center;
    justify-content: space-between;
}

.header .logo img
{
    height: 45px;
    padding: 0;
}
.header .navbar{
    margin-left:auto;
}
.header .navbar a{
    font-size: 1rem;
    margin-left: 2rem;
    color: var(--black);
    text-decoration: none;
}
.header .navbar a:hover{
  text-decoration: underline;
}

.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(bg.png);
    background-size: cover;
}

.contact .content {
    max-width: 800;
    text-align: center;
}

.contact .content h2 {
    font-size: 36px;
    font-weight: 500;
}

.contact .content p {
    font-weight: 500;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .icon {
    width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    font-size: 22px;
}

.container .contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;
    font-weight: 300;
}

.container .contactInfo .box .text h3 {
    font-weight: 500;
    color: #00bcd4;
}

.contactForm {
    width: 40%;
    padding: 40px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contactForm h2 {
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span {
    position: absolute;
    left: 10px;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s ease-in-out;
    color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-80%);
}

.contactForm .inputBox input[type="submit"] {
    width: 100px;
    background: #00bcd4;
    color: #333;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border-radius: 40px;
    width: 180px;
}

@media (max-width: 991px) {
    .contact {
        padding: 50px;
    }
    .container {
        flex-direction: column;
    }
    .container .contactInfo {
        margin-bottom: 40px;
    }
    .container .contactInfo {
        width: 100%;
    }
}

.title {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 0px;
    padding-bottom: 0;
    padding-left: 10px;
}

.title h1 {
    margin: 0 !important;
}

.nav {
    width: 100%;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0px 0px;
    display: flex;
    align-items: flex-end;
    justify-content: end;
}
.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 10px;
    padding-left: 400px;
}

.menu .nav {
    color: rgb(118, 114, 114);
    cursor: pointer;
    padding: 20px;
    padding-bottom: 0px;
    margin-right: 10px; /* Add margin to separate nav items */
}

.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}



#check {
    display: none;
}

@media (max-width: 610px) {
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 100;
        background-color: #333;
        transition: all 0.2s ease-in-out;
    }
}

h1 {
    padding-top: 0px;
    color: #fff;
    margin-top: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

hr {
    margin-top: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.footer {
    /* background: url(footer.jpg) no-repeat; */
    background-size: auto;
    background-color: #333;
    background-position: center;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 3rem;
    z-index: 999; /* Set a lower z-index value */
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(4, 0.5fr); /* Adjust columns for four boxes */
    gap: 3rem;
    padding: 2rem;
    padding-top: 2rem;
    margin-bottom: 0;
    padding-bottom: 0;
}

.footer .box-container .box h3 {
    color: white;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.footer .box-container .box a {
    color: var(--light-white);
    font-size: 1rem;
    padding-bottom: 1rem;
    display: block;
    text-decoration: none;
}

.footer .box-container .box a i {
    color: var(--main-color);
    padding-right: .5rem;
    transition: .2s linear;
}

.footer .box-container .box a:hover i {
    padding-right: 2rem;
}
.footer .credit{
    text-align: center;
    padding-top: 1rem;
    margin-top: 1rem;
    padding-bottom: 1rem;
    border-top: .1rem solid var(--light-white);
    font-size: 1rem;
    color: var(--light-white);
}
.footer .credit span{
    color: var(--main-color);
}

#LOGIN{
   
    font-weight: 500;
    color: white;
    background-color: black;
    text-decoration: none;
padding: 10px 20px;
border-radius: 2rem;
}
#LOGIN :hover{
    background-color:rgba(0, 0, 0, 0.304);
}
.user-profile {
    position: relative;
    display: inline-block;
    margin-left: 2rem;
}
#userProfileLink{
    border-radius: 2rem;
    padding: 10px;
    background-color: #eaeaea;
}
#userProfileLink:hover{
   
    background-color: #e3e3e367;
}

.user-greeting {
    vertical-align: middle;
}