@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Montserrat:wght@400;700&family=Poppins:wght@100;200;300;400;500;600&family=Whisper&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    align-items: center;
}

:root {
    --main-color: rgb(66, 66, 255);
    --black: #222;
    --white: #fff;
    --light-black: #777;
    --light-white: #fff9;
    --dark-bg: rgba(0, 0, 0, .7);
    --light-bg: #eee;
    --border: .1rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    --text-shadow: 0 .5rem 1rem rgba(0, 0, 0, .3);
    --light-bg-hover: #f4f4f4; /* Adjust as needed for hover effect */
    --dark-text: #333; /* Adjust as needed for better contrast */
}

html::-webkit-scrollbar {
    width: 1rem;
}
html::-webkit-scrollbar-track{
    background-color:var(--white);
}
html::-webkit-scrollbar-thumb{
    background-color:var(--light-black);
}

section{
    padding: 5rem 10%;
}

@keyframes fadeIn {
    0% { transform: scale(0);
        opacity: 0;
    }
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1001;
    background-color: var(--white);
    display: flex;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    box-shadow: var(--box-shadow);
    padding-left: 10px;
    align-items: center;
    justify-content: space-between;
}

.header .logo img
{
    height: 45px;
    padding: 0;
}
.header .navbar{
    margin-left:auto;
}
.header .navbar a{
    font-size: 1rem;
    margin-left: 2rem;
    color: black;
    text-decoration: none;
}
.header .navbar a:hover{
  text-decoration: underline;
}
#menu-btn{
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--black);
    display: inline-block;
    transition: transform 0.5s ease;
}

#menu-btn.fa-times{
    transform: rotate(180deg);
}

/* media queires*/
@media (max-width:1200px){
    section{
        padding: 3rem 5%;
}
}

@media (max-width:991px){

    html{
        font-size: 55%;
    }
    section{
        padding: 3rem 2rem;
}
}

@media (max-width: 760px) {
    .header .navbar {
      position: absolute;
      top: 99%;
      left: 0;
      right: 0;
      background-color: var(--white);
      border-top: var(--border);
      padding: 2rem;
      z-index: 1001;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
  
    .header .navbar.active {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
  
    .header .navbar a {
      display: block;
      margin: 2rem;
      text-align: center;
    }
  }
@media (max-width:450px){

    html{
        font-size: 50%;
    }

}



.mumbai{
    background-color: #EEF8dd;
    display: flex;
    margin-bottom:5rem;
    margin-top: 7rem;
}
.mumbai img{
    height: 450px;
    border-top-right-radius: 10rem;
    border-bottom-right-radius: 10rem;
}
.para1 p{
    color: #CE7424;
    /* padding: 20px; */
    margin-bottom: 30px;
    text-align: center;
  
    /* padding-left: 230px; */
}
.para1 a{
    color:white;
    background-color:  #CE7424 ;
    border-radius: 2rem;
    display: center;
    /* justify-content: center;
    align-items: center; */
    height: 3em;
    width: 8em;
    font-size: large;
    font-weight: 500;
    text-decoration: none;
    /* text-align: left; */
    padding: 15px;
}
.para1 a:hover{
    background-color:  #eb9d5a ;
}
.para1 {
    
    text-align: center;
    color: #CE7424;
    padding-left: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.para1 h2{
    font-weight: 900;
    font-size: 5rem;
    margin-bottom: 10px;
}
.para1 p{
    margin-bottom: 40px;
}
.pune{
    background-color: #ddf8f5;
    display: flex;
    margin-bottom:5rem;
}
.pune img{
    height: 420px;
    width: 650px;
    object-fit: cover;
    border-top-left-radius: 10rem;
    border-bottom-left-radius: 4rem;
}
.para2 a{
    color:white;
    background-color:  #CE7424 ;
    border-radius: 2rem;
    display: center;
    /* justify-content: center;
    align-items: center; */
    height: 3em;
    width: 8em;
    font-size: large;
    font-weight: 500;
    text-decoration: none;
    /* text-align: left; */
    padding: 15px;
}

.para2 a:hover{
    background-color:  #eb9d5a ;
}
.para2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    color: #CE7424;
}

/* .para2 b,p{
    margin-bottom: 10px;
} */
.para2 h2{
    font-weight: 900;
    font-size: 5rem;
    margin-bottom: 10px;
}
.para2 p{
    margin-bottom: 40px;
}
.nagpur{
    background-color: #DDDEF8;
    display: flex;
    margin-bottom:5rem;
}
.nagpur img{
    height: 450px;
    border-top-right-radius: 10rem;
    border-bottom-right-radius: 10rem;
}
.para3 a{
    color:white;
    background-color:  #CE7424 ;
    border-radius: 2rem;
    display: center;
    /* justify-content: center;
    align-items: center; */
    height: 3em;
    width: 8em;
    font-size: large;
    font-weight: 500;
    text-decoration: none;
    /* text-align: left; */
    padding: 15px;
}
.para3 a:hover{
    background-color:  #eb9d5a ;
}
.para3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    color: #CE7424;
    padding-left: 15px;
}
.para3 p{
    margin-bottom:  40px;
}
.para3 h2{
    font-weight: 900;
    font-size: 5rem;
    margin-bottom: 10px;
}
.aurangabad{
    background-color: #DDDEF8;
    display: flex;
    margin-bottom:5rem;
}
.aurangabad img{
    height: 350px;
    border-top-left-radius: 10rem;
    border-bottom-left-radius: 8rem;
}
.para4 a{
   
    color:white;
    background-color:  #CE7424 ;
    border-radius: 2rem;
    display: center;
    /* justify-content: center;
    align-items: center; */
    height: 3em;
    width: 8em;
    font-size: large;
    font-weight: 500;
    text-decoration: none;
    /* text-align: left; */
    padding: 15px;
}
.para4 a:hover{
    background-color:  #eb9d5a ;
}

.para4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
  margin: 24px;
    text-align: center;
    color: #CE7424;
    
}
.para4 h2{
    font-weight: 900;
    font-size: 4rem;
    margin-bottom: 10px;
}
.para4 p{
    margin-bottom: 40px;
}
#LOGIN{
   
    font-weight: 500;
    color: white;
    background-color: black;
    text-decoration: none;
padding: 10px 20px;
border-radius: 2rem;
}
#LOGIN :hover{
    background-color:rgba(0, 0, 0, 0.304);
}
.user-profile {
    position: relative;
    display: inline-block;
    margin-left: 2rem;
}
#userProfileLink{
    border-radius: 2rem;
    padding: 10px;
    background-color: #eaeaea;
}
#userProfileLink:hover{
   
    background-color: #e3e3e367;
}

.user-greeting {
    vertical-align: middle;
}

/* Container styles */
.container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 75%;
    text-align: center;
    margin: 0 auto; /* Center the container horizontally */
    margin-bottom: 20px; /* Reduce bottom margin */
}

/* Weather container styles */
.weather-container {
    display: flex;
    justify-content: center; /* Align horizontally in center */
    overflow-x: auto;
    padding: 20px 0;
    margin-top: 80px; /* Add top margin */
}

/* Weather card styles */
.weather-container a {
    cursor: pointer;
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
    margin: 0 10px;
    transition: background-color 0.3s; /* Add smooth transition effect */
}

/* Weather card hover effect */
.weather-container a:hover {
    background-color: rgba(211, 211, 211, 0.5); /* Change background color on hover */
}

/* Link styles */
.weather-container a {
    color: inherit; /* Set link color to inherit from parent */
    text-decoration: none; /* Remove underline */
}


/* City styles */
.city {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

/* Temperature styles */
.temp {
    font-size: 36px;
    color: #333;
}

/* Icon styles */
.icon {
    font-size: 48px;
    color: #333;
    margin-bottom: 10px;
}